<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mochat.mochat.dao.mapper.WorkRoomGroupMapper">
    <update id="updateWorkRoomGroupById" parameterType="com.mochat.mochat.dao.entity.workroom.WorkRoomGroupEntity">
        update mc_work_room_group
        <set>
            <if test="name != null">name=#{name}</if>
        </set>
        where id=#{id}
    </update>
</mapper>