<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mochat.mochat.dao.mapper.WorkContactRoomMapper">
    <resultMap type="com.mochat.mochat.model.transfer.GetContactRoom" id="getContactRoom">
        <result property="roomName" column="name"/>
        <result property="contactId" column="contact_id"/>
    </resultMap>

    <!-- 一对一关联，查询账户下所有的客户 -->
    <select id="getContactRoomList" resultMap="getContactRoom">
        select wr.name,wcr.contact_id
        from `mc_work_contact_room` wcr
        JOIN `mc_work_room` wr ON wcr.room_id=wr.id
        <where>
           wcr.status=1
           <choose>
               <when test="contactIds !=null and contactIds.size>1">
                   and wcr.contact_id IN
                   <foreach item="contactIdItem" index="index" collection="contactIds" open="(" separator="," close=")">
                       #{contactIdItem}
                   </foreach>
               </when>
               <when test="contactIds !=null and contactIds.size==1">
                   and wcr.contact_id=#{contactIds[0]}
               </when>
           </choose>
            <if test="roomIds !=null and roomIds.size>0">
                AND wcr.room_id IN
                <foreach item="roomIdItem" index="index" collection="roomIds" open="(" separator="," close=")">
                    #{roomIdItem}
                </foreach>
            </if>
        </where>
    </select>
    <select id="getWorkContactRoomIndex" resultType="com.mochat.mochat.dao.entity.WorkContactRoomEntity">
        select wx_user_id,contact_id,contact_id,employee_id,unionid,room_id,join_scene,type,status,join_time,out_time
        from mc_work_contact_room where 1=1
        <if test="roomId!=null and roomId != ''">
            and room_id = #{roomId}
        </if>
        <if test="status!=null and status != ''">
            and status = #{status}
        </if>
        <if test="workEmployeeIds!=null and workEmployeeIds != ''">
            and employee_id in (#{workEmployeeIds})
        </if>
        <if test="workContactIds!=null and workContactIds != ''">
            and contact_id  in (#{workContactIds})
        </if>
        <if test="joinTimeStart!=null and joinTimeStart.trim() neq ''">
            and date_format(join_time,'%Y-%m-%d %H:%i:%s') &gt;= str_to_date(#{joinTimeStart},'%Y-%m-%d %H:%i:%s')
        </if>
        <if test="joinTimeEnd!=null and endTime.trim() neq ''">
            and date_format(join_time,'%Y-%m-%d %H:%i:%s') &lt;= str_to_date(#{joinTimeEnd},'%Y-%m-%d %H:%i:%s')
        </if>
    </select>
    <update id="updateWorkContactRoomByIds" parameterType="com.mochat.mochat.dao.entity.WorkContactRoomEntity">
        update mc_work_contact_room
        <set>
            <if test="outTime != null">out_time=#{outTime}</if>
            <if test="status != null">status=#{status}</if>
        </set>
        where id=#{id}
    </update>
    <select id="getWorkContactRoomsByRoomId" resultType="com.mochat.mochat.dao.entity.WorkContactRoomEntity">
        select id,wx_user_id as wxUserId,room_id as roomId,join_time as joinTime,status,out_time as outTime,type   from mc_work_contact_room where room_id = #{room_id}
    </select>
    <select id="getWorkContactRoomsInfoByRoomId" resultType="com.mochat.mochat.dao.entity.WorkContactRoomEntity">
        select id,wx_user_id as wxUserId,room_id as roomId,status  from mc_work_contact_room where room_id = #{room_id}
    </select>
</mapper>