<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mochat.mochat.dao.mapper.WorkContactTagMapper">

    <resultMap type="com.mochat.mochat.dao.entity.WorkContactTagEntity" id="workContactTagMap">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="order" column="order"/>
        <association property="workContactTagPivot" javaType="com.mochat.mochat.dao.entity.WorkContactTagPivotEntity">

            <result property="contactId" column="contact_id"/>
            <result property="employeeId" column="employee_id"/>
        </association>
    </resultMap>

    <!-- 一对一关联，查询订单，订单内部包含用户属性 -->
    <select id="getWorkContactTag" resultMap="workContactTagMap">
        SELECT
        tag.id
        ,tag.name
        ,tag.order
        ,tagPivot.contact_id
        ,tagPivot.employee_id
        FROM
        `mc_work_contact_tag` tag
        JOIN `mc_work_contact_tag_pivot` tagPivot ON tag.id = tagPivot.contact_tag_id
        <where>
            <if test="empId!=null">
                tagPivot.employee_id= #{empId}
            </if>
        </where>
    </select>
</mapper>